<nav>
  <div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle></button>
    <div class="title-bar-title">Menu</div>
  </div>
  
  <div class="top-bar" id="main-menu">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text">Cal Benefit Cup <%= Date.today.year.to_s %></li>
      </ul>
    </div>
    
    <div class="top-bar-right">
      <ul class="menu" data-responsive-menu="drilldown medium-dropdown">
        <% @nav[nil].each do |item| %>
          <% unless !@nav[item[2]].nil? %>
            <li class="menu-item">
              <%= link_to item[1], page_path(item[0]) %>
            </li>
          <% else %>
            <li class="has_submenu">
              <%= link_to item[1], page_path(item[0]) %>
              <ul class="submenu menu vertical" data-submenu>
                <% @nav[item[2]].each do |sub| %>
                  <li class="menu-item">
                    <%= link_to sub[1], page_path(sub[0]) %>
                  </li>
                <% end %>
              </ul>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
