<main class="row small-collapse large-collapse">
  <% if @images && @headlines %>
    <%= render "images_headlines" %>
  <% else %>
    <%= render "standard_info" %>
  <% end %>

  <%= render "aside" %>
</main>
