<main class="row small-collapse large-collapse">
  <% if @images && @headlines %>
    <%= render "images_headlines" %>
  <% else %>
    <%= render "standard_info" %>
  <% end %>
  
  <% if @meet.nil? || @meet_gender == "girls" %>
    <%= render "womens_twitter" %>
  <% else %>
    <%= render "mens_twitter" %>
  <% end %>
</main>
