/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* fdba31 */

@font-face {
  font-family: 'asapregular';
  src: url('/assets/fonts/asap-regular-webfont.eot');
  src: url('/assets/fonts/asap-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/asap-regular-webfont.woff2') format('woff2'),
  url('/assets/fonts/asap-regular-webfont.woff') format('woff'),
  url('/assets/fonts/asap-regular-webfont.ttf') format('truetype'),
  url('/assets/fonts/asap-regular-webfont.svg#asapregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #eeeeee;
}

.bold {
  font-weight: bold;
}

.canvas {
  background-image: url(/assets/bg-body.jpg);
  padding-bottom: 3rem;
  background-color: #0a192d;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: absolute;
}

aside {
  min-height: 650px;
  padding-right: 0;
}

#twitter {
  border-top: solid 0.4rem #fdba31;
  border-bottom: solid 0.4rem #fdba31;
}

aside h5 {
  padding-top: 0.5rem;
}

.main {
  min-height: calc(700px +0.8rem);
  border-top: solid 0.4rem #fdba31;
  border-bottom: solid 0.4rem #fdba31;
}

.home {
  border-top: solid 0.4rem #fdba31;
  border-bottom: solid 0.4rem #fdba31;
  margin-bottom: 2rem;
}

main > .main {
  padding: 1rem 2rem 2rem 2rem;
}

li.orbit-slide p {
  padding: 0 2rem;
}

h4.news {
  padding: 1.5rem 0 0 0;
}

.text-orbit {
  padding: 1rem 0 2rem 0;
}

footer hr {
  width: 18rem;
  float: left;
}

footer hr + p {
  clear: both;
}

main article {
  padding: 0.5rem 2rem;
}

.socials {
  margin-top: 2rem;
}

.socials ul {
  margin-left: 0;
}

.socials li {
  list-style: none;
  float: left;
}

.socials a {
  display: block;
  height: 60px;
  width: 60px;
  background: url("/assets/social.png") no-repeat center 0;
}

a.twitter-ico {
  background-position: center 0;
}

a.facebook-ico {
  background-position: center -200px;
}

.main {
  /* border-radius: 0.25rem; */
  margin-bottom: 2rem;
}

.mast {
  padding: 4rem 0 3rem 0;
}

.mast h5 {
  color: white;
}

.mast a.button {
  margin-top: 1rem;
}

li.menu-item > p {
  color: white;
  padding: 0.7rem 1rem;
  margin: 0;
  line-height: 1;
}

.light-gray {
  background-color: #eeeeee;
}

.white {
  background-color: #FFFFFF;
}

.callout.dark-gray {
  background-color: #46535e;
}

.callout.primary {
  background-color: #0a192d;
  // background-color: #003262;
}

footer {
  padding: 3rem 0;
}

nav a {
  text-decoration: none;
}

.title-bar {
    background: #333;
    padding: 0.9rem;
}

.top-bar {
    background: #333;
}

.top-bar ul {
    background: #333;
}

.top-bar ul li {
    background: #333;
}

.top-bar ul li a {
    color: #fff;
}

.menu-text {
    color: #fff;
}

@media only screen and (max-width: 40em) {
    .menu-text {
        display: none !important;
    }
}

@media only screen and (min-width: 40em) {
    .top-bar .menu:last-child {
        border-left: 1px solid #4e4e4e;
    }
    .top-bar .menu:first-child {
        border-left: none;
    }
    .top-bar .menu li:not(:last-child) {
        border-right: 1px solid #4e4e4e;
    }
}

.dropdown.menu .submenu {
    border: none;
}

.dropdown.menu .is-dropdown-submenu-parent.is-right-arrow > a::after {
    border-color: #fff transparent transparent;
}

.is-drilldown-submenu-parent > a::after {
    border-color: transparent transparent transparent #fff;
}

.js-drilldown-back::before {
    border-color: transparent #fff transparent transparent;
}
